<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="images/favicon.ico">
    <title>Funny Songs</title>
    <link href="stylesheets/bootstrap.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
</head>
  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-xs-12">
      <a class="navbar-brand logo" href="/">
        <span>Funny Songs</span>
      </a>
  </div>
</nav>
    <div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
    <div class="form-group col-md-12">
      <textarea class="form-control message" rows="15" id="comment"></textarea>
      </div>
    <div class="dropdown col-md-12">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Language
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">English</a></li>
        <li><a href="#">French</a></li>
        <li><a href="#">Spanish</a></li>
        <li><a href="#">Hindi</a></li>
      </ul>
    </div>
  </div>
<div class="col-md-6">

</div>
  </div>
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="javascripts/bootstrap.js"></script>
<script src="javascripts/main.js"></script>

  </body>
  <footer class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted text-center">
        <a href="https://github.com/surya4/funny-songs" target="_blank">Surya Singh</a></p>
      </div>
  </footer>
</html>
